In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.impute import SimpleImputer
from catboost import CatBoostClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from pycaret.classification import *

In [ ]:
!pip install delayed

In [ ]:
!pip install pycaret

In [ ]:
!pip install catboost

## Loadiang data

In [ ]:
!wget https://github.com/dsbattle/hackathon-mkb/raw/master/train_dataset_hackathon_mkb.csv
!wget https://github.com/dsbattle/hackathon-mkb/raw/master/test_dataset_hackathon_mkb.csv

In [ ]:
train = pd.read_csv('train_dataset_hackathon_mkb.csv', sep=';', encoding='cp1251')
test = pd.read_csv('test_dataset_hackathon_mkb.csv', sep=';', encoding='cp1251')

In [ ]:
clf = setup(train, target = 'TARGET')

In [ ]:
train.head()

## Delete bad features

In [ ]:
train = train.drop(columns='BIRTHDATE', axis = 1)
train = train.drop(columns='SIGN_DATE' , axis = 1)
train = train.drop(columns='id_client',axis = 1)
train = train.drop_duplicates()

In [ ]:
#train.isnull().sum()

In [ ]:
#sns.countplot(train['TARGET'])

## preproccesing features

In [ ]:
le = LabelEncoder()
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
categorical = ['object']
for cols in list((train.select_dtypes(include=numerics)).columns.values):
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp.fit(train[cols].values.reshape(-1,1))
    train[cols] = imp.transform(train[cols].values.reshape(-1,1))
    train[cols] = train[cols].astype(int)
    
for cols in list((train.select_dtypes(include=categorical)).columns.values):
    imp = SimpleImputer(strategy="most_frequent")
    imp.fit(train[cols].values.reshape(-1,1))
    train[cols] = imp.transform(train[cols].values.reshape(-1,1))
for cols in list((train.select_dtypes(include=categorical)).columns.values):
    train[cols] =  le.fit_transform(train[cols])

In [ ]:
k_means = train.loc[:, ["OKVED_CODE", "OKTMO_FED", "CITIZENSHIP_NAME"]]
kmeans = KMeans(n_clusters=6)
train["Cluster"] = kmeans.fit_predict(k_means)
train["Cluster"] = train["Cluster"].astype(int)
k_means.head()

   OKVED_CODE  OKTMO_FED  CITIZENSHIP_NAME
0         212         40                 2
1         374         34                 2
2         229         33                 2
3         212         34                 2
4         374         34                 2

In [ ]:
train

       id_contract  IP_flag  TARGET  ...  CITIZENSHIP_NAME  Cluster      mean
0                1        0       0  ...                 2        2  1.734895
1                2        1       0  ...                 2        0  1.734895
2                3        0       0  ...                 2        2  1.734895
3                4        0       0  ...                 2        2  1.734895
4                5        1       0  ...                 2        0  1.734895
...            ...      ...     ...  ...               ...      ...       ...
17886        17887        0       0  ...                 2        2  1.734895
17887        17888        0       0  ...                 2        1  1.734895
17888        17889        0       0  ...                 2        0  1.734895
17889        17890        0       1  ...                 2        5  1.734895
17890        17891        0       0  ...                 2        2  1.734895

[17891 rows x 123 columns]

In [ ]:
scale_features = [col for col in train.columns if 'F'  in col]

In [ ]:
corr = data__not_approved.corr()
ax , fig  = plt.subplots(figsize =(10 , 8 ))
sns.heatmap(corr ,vmin = -1 , cmap='coolwarm', annot = True)
plt.show()

In [ ]:
corr[abs(corr['TARGET']) > 0.1]['TARGET']

TARGET                        1.000000
F1160                        -0.110808
F1180                        -0.109962
F1200                        -0.103927
F1450                        -0.165524
F1520                        -0.117995
F2110                        -0.128008
F2120                        -0.131946
F2210                        -0.122650
F1520_LAG1                   -0.111780
F2110_LAG1                   -0.129720
F2120_LAG1                   -0.133352
F2210_LAG1                   -0.129638
EGRPOINCLUDED                -0.192296
OKATO_REGIONCODE             -0.108216
OKTMO_CODE                   -0.109015
COUNTCOOWNERFCSM             -0.133818
COUNTCOOWNERROSSTAT          -0.128452
PLAINTIFF_SUM_YEAR            0.123562
PLAINTIFF_CASESNUMBER_EVER   -0.103085
THIRDOROTHERPERSON_EVER      -0.100457
NOTADMITTEDNUMBER_233_YEAR    0.112582
SUM_233_YEAR                  0.174278
ADMITTEDNUMBER_233_EVER       0.148576
NOTADMITTEDNUMBER_233_EVER    0.133636
SUM_233_EVER                  0.154054
COUNT_CHANGE_YEAR            -0.139542
COUNT_CHANGE_EVER            -0.211826
Name: TARGET, dtype: float64

In [ ]:
corr = data_approved.corr()
ax , fig  = plt.subplots(figsize =(10 , 8 ))
sns.heatmap(corr ,vmin = -1 , cmap='coolwarm', annot = True)
plt.show()

In [ ]:
corr[abs(corr['TARGET']) > 0.1]['TARGET']

TARGET                        1.000000
OKATO_REGIONCODE             -0.105330
OKATO_FED                    -0.204547
OKTMO_CODE                   -0.103992
OKTMO_FED                    -0.205652
DEFENDANT_CASESNUMBER_YEAR    0.215990
THIRDOROTHERPERSON_YEAR      -0.158379
THIRDOROTHERPERSON_EVER      -0.168107
AGE                          -0.347063
Name: TARGET, dtype: float64

## Modeling

In [ ]:
X = train.drop(labels=['TARGET'], axis=1)
y = train['TARGET']

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(X,y, train_size = 0.8, random_state = 42)

In [ ]:
model = CatBoostClassifier(iterations=1500,verbose=False)
model.fit(X_train,y_train)

In [ ]:
#lgb = LGBMClassifier(n_estimators=500)
#lgb.fit(X_train,y_train)

In [ ]:
#xgb = XGBClassifier(n_estimators=2000)
#xgb.fit(X_train,y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
roc_auc_score(y_test , y_pred)

0.8906113006541666

In [ ]:
def plot_feature_importance(importance,names,model_type):
  feature_importance = np.array(importance)
  feature_names = np.array(names)

#Create a DataFrame using a Dictionary
  data={'feature_names':feature_names,'feature_importance':feature_importance}
  fi_df = pd.DataFrame(data)
  fi_df.sort_values(by=['feature_importance'], ascending=False,inplace=True)

#Define size of bar plot
  plt.figure(figsize=(20,12))
#Plot Searborn bar chart
  sns.barplot(x=fi_df['feature_importance'], y=fi_df['feature_names'])
#Add chart labels
  plt.title(model_type + 'FEATURE IMPORTANCE')
  plt.xlabel('FEATURE IMPORTANCE')
  plt.ylabel('FEATURE NAMES')

In [ ]:
plot_feature_importance(model.feature_importances_,X_train.columns,'CatBoost')

## Test preproccesing before prediction

In [ ]:
test = test.drop(columns='BIRTHDATE', axis = 1)
test = test.drop(columns='SIGN_DATE' , axis = 1)
test = test.drop(columns='id_client',axis = 1)
test = test.drop_duplicates()

for cols in list((test.select_dtypes(include=numerics)).columns.values):
    imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
    imp.fit(test[cols].values.reshape(-1,1))
    test[cols] = imp.transform(test[cols].values.reshape(-1,1))
    
for cols in list((test.select_dtypes(include=categorical)).columns.values):
    imp = SimpleImputer(strategy="most_frequent")
    imp.fit(test[cols].values.reshape(-1,1))
    test[cols] = imp.transform(test[cols].values.reshape(-1,1))
for cols in list((test.select_dtypes(include=categorical)).columns.values):
    test[cols] =  le.fit_transform(test[cols])

In [ ]:
k_means = test.loc[:, ["OKVED_CODE", "OKTMO_FED", "CITIZENSHIP_NAME"]]
kmeans = KMeans(n_clusters=6)
test["Cluster"] = kmeans.fit_predict(k_means)
test["Cluster"] = test["Cluster"].astype(int)
k_means.head()

   OKVED_CODE  OKTMO_FED  CITIZENSHIP_NAME
0         308       30.0                 1
1         266       30.0                 1
2         150       34.0                 1
3         450       31.0                 1
4         210       40.0                 1

In [ ]:
test

In [ ]:
test['TARGET'] = model.predict_proba(test)[:, 1]

In [ ]:
test

      id_contract  IP_flag      F1100  ...  CITIZENSHIP_NAME  Cluster    TARGET
0           17892        1   161000.0  ...                 1        0  0.035404
1           17893        0  1906000.0  ...                 1        0  0.006772
2           17894        0   147000.0  ...                 1        2  0.022229
3           17895        0   161000.0  ...                 1        1  0.287411
4           17896        0    26000.0  ...                 1        2  0.224652
...           ...      ...        ...  ...               ...      ...       ...
7325        25217        0  1395000.0  ...                 1        5  0.357275
7326        25218        0   161000.0  ...                 1        2  0.032988
7327        25219        0    24000.0  ...                 1        2  0.107521
7328        25220        0   161000.0  ...                 1        0  0.092666
7329        25221        0   161000.0  ...                 1        5  0.018808

[7330 rows x 122 columns]

In [ ]:
test[['id_contract', 'TARGET']].to_csv('submit_file6.csv', sep=';', index=False)
test[['id_contract', 'TARGET']].head()